@use "../../../styles/variables";

.menu {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  &.visible {
    opacity: 1;
  }
}

.categories-menu {
  @include variables.container(flex, center, center);
  gap: 10px;
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: variables.$accent-color;
  transition: 0.5s ease;
  z-index: 5;
}

.category-menu {
  @include variables.container(flex, center, center);
  gap: 5px;
  background-color: variables.$background-color;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: variables.$text-color;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.7s;
  &:hover {
    background-color: lighten(variables.$accent-color, 15%);
    box-shadow: 0 0 5px 2px variables.$accent-color;
  }
}
