@use "../../styles/variables";

header {
  background-color: variables.$accent-color;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.main-menu {
  @include variables.container(flex, space-between, center);
  padding: 0 250px;
  height: 80px;
  &-image {
    width: 125px;
    height: 40px;
  }
  &-search {
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
  }
}
