@use "../../styles/variables";

header {
  background-color: variables.$accent-color;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.main-menu {
  @include variables.container(flex, space-between, center);
  padding: 0 100px;
  height: 80px;
}
